<form action="/auth/signup" method="POST">
  <label for="new-email">Email</label>
  <input id="new-email" type="email" name="email">

  <label for="new-name">Name</label>
  <input id="new-name" type="text" name="name">

  <label for="new-password">Password</label>
  <input id="new-password" type="password" name="password">

  <input type="submit" value="Sign up">
</form>
<img class="homeImage" src="https://images.alphacoders.com/836/thumb-1920-83601.jpg" alt="" /> 

<!-- from auth.js routes /signup -->
<!-- set up some partials for each one of those pages to return the same flash -->
