<h1>Armors page</h1>

<div>
    <% if (armors) { %> 
      <% armors.forEach(a =>{%>
    <h3>Armor rank: <%= a.rank %></h3>
    <a href="/armor/<%= a.id %>">
      <p>Armor Name: <%= a.name %></p>
      </a>
    <img src="" alt="" />
  
    <% }) %> 
    <% } else { %>
      <h2>No armors to show</h2>
   <% } %>
  </div>