
<div style="text-align: center;">

    <h1>Error <span style="color: red;">404</span> not found, </br>  <span style="color: pink; box-shadow: 10px green;">You dont want these hands Stacey!</span></h1>
    
    <img src="https://thumbs.gfycat.com/PaltryMeanIceblueredtopzebra-size_restricted.gif" alt="">
</div>