
<h1>Monster Hunter Home</h1>


<div id="home">
    <h1><a href="/monster">Monsters<img src="https://i.pinimg.com/236x/54/82/38/5482387937dd98440cfa845701c8ca75.jpg" alt=""></a></h1>
    
    <h1><a href="/weapon">Weapons <img src="https://www.1999.co.jp/itbig58/10583858.jpg" alt=""></a></h1>
    <h1><a href="/armor">Armor <img src="https://monsterhunterworld.wiki.fextralife.com/file/Monster-Hunter-World/lavasioth_beta_armor_set_mhw_small.png" alt=""></a></h1>
</div>