<h2 style="text-align: center; font-family: fantasy;">Monster Hunter Helper</h2>
<img class="homeImage" src="https://wallpapercave.com/wp/wp2356330.png" alt="" />
<div id="home">
  <p>
    This website aims to help provide game guindance, and gives a faster way to
    access information MH Players needs in order to enhance their playing experience. For example, the
    Monster's weakness and its items drops. Once the player clicks on the
    Monster it will show what the monster drops, and can make their judgement
    wether this Monster is worth their time. This helpful information can also
    be used to see the many attributes of an Armor piece and its stats, and the
    same can go for the weapons. Happy hunting!
  </p>
</div>
<!-- the /monster route is being guided to monster folder and shows the monsters.ejs and whats in it -->
