<h1>Weapons page</h1>

<div id="wep">
  <% if(weapons.length) { %> <% weapons.forEach(w =>{%>
  <ul>
    <a href="/weapon/<%= w.type%>">
      <h2>Weapon Type: <%= w.type %></h2>
      <p><%= w.name %> </p>
     <img src="<%= w.assets.image %> " alt="">
    

    </a>
  </ul>

  <% }) %> 
  <% } else{ %>
  <h2>No weapons shown</h2>
  <% } %>
</div>
