<h1>Weapons page</h1>

<div id="wep">
  <% if(weapons.length) { %> <% weapons.forEach(w =>{%>
  <ul>
      <p>Weapon Type: <%= w.type %></p>
    <a href="/weapon/<%= w.name%>">
      <p><%= w.name %></p>
    </a>
  </ul>

  <% }) %> <% } else{ %>
  <h2>No weapons shown</h2>
  <% } %>
</div>
