<h1>Your Favorite Weapons</h1>

<h3>Here is the Weapons you've added Hunter</h3>
<ul>
  <% weapons.forEach(w =>{ %>
  <a href="/weapon/<%= w.apiId %>">
   <li><%= w.name %></li>
  </a>
  <% }) %>
</ul>
