
#body{
  background-color: rgba(0, 0, 0, 0.906);
  color: rgba(0, 255, 255, 0.653);
  background-image: url(https://slm-assets.secondlife.com/assets/16013743/original/gif_Fireflies__on_black_5x5.gif?1484133621);
  
}


#monTitles {
  color: rgb(59, 227, 44);
  text-shadow: 1px 1px rgba(5, 186, 186, 0.749);
  
}

#wepTitles{
  color: rgb(59, 227, 44);
  text-shadow: 1px 1px rgba(5, 186, 186, 0.749);
}
nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

.homeImage{
  width: 100%;
  object-fit: cover;
}

#home{
  display: flex;
  justify-content: space-evenly;
  margin: 100px;

}
/* grab bootstrap alert success make sure to install */