<!-- <a href="/home">Home Page</a> -->
<h1>Weapon show page. Show the details</h1>

<%= weapons.name %> 
    

<form method="POST" action="/weapon/<%= weapons.name %>">
    <label for="name">Name</label>
    <input name="name" id="name" class="form-control" required><br>
    <label for="content">Comment</label>
    <textarea type="text" class="form-control" id="content" name="content" required></textarea>
    <input type="submit" class="btn btn-primary">
</form>