
<h1>Weapons page</h1>

<div>
  <% if (weapons) { %> 
    <% weapons.forEach(w =>{%>
  <h3>Weapon Type: <%= w.type %></h3>
  <a href="/weapon/<%= w.id %>">
    <p><%= w.name %></p>
    </a>
    
  <img src="" alt="" />
<button class="favorite" data-name="<%= w.name %>" data-cat="weapon">Favorite</button>

  <% }) %> 
  <% } else { %>
    <h2>No weapons to show</h2>
 <% } %>
</div>

