<h1>Monsters page</h1>

<div>
    <% if (monsters) { %> 
      <% monsters.forEach(m =>{%>
   <a href="/monster/<%= m.name %>">
      <p><%= m.name %></p>
    </a>
      <h3>Species: <%= m.species %></h3>
      <p><%= m.description %></p>
    <img src="" alt="" />
  
    <% }) %> 
    <% } else { %>
      <h2>No monsters to show</h2>
   <% } %>
  </div>