<h1>Monsters page</h1>

<div>
    <% if (monsters) { %> 
      <% monsters.forEach(m =>{%>
        <h3>Species: <%= m.species %></h3>
   <a href="/monster/<%= m.id %>">
      <p><%= m.name %></p>
    </a>
  
    <% }) %> 
    <% } else { %>
      <h2>No monsters to show</h2>
   <% } %>
  </div>